<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Résultats</title>
</head>
<body style="background-image: url('photo-1445905595283-21f8ae8a33d2.jpeg');">
        <%
            console.log(dico.length)
        %>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="logo.png" width="100" height="60" class="d-inline-block align-top" alt="">
                <span style="color: rgb(114, 12, 155);"></span>
                <span style="color: rgb(114, 12, 155);">E-Planets</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active" style="margin-left: 30%;">
                  <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" style="margin-left: 30%;">
                    <a class="nav-link" href="add">Ajouter <span class="sr-only"></span></a>
                </li>
                <li class="nav-item" style="margin-left: 30%;">
                    <a class="nav-link" href="modify">Modifier <span class="sr-only"></span></a>
                </li>
              </ul>
            </div>
          </nav>

        <h3 class="container" style="color: white;">Identifiant du support : <span style="color: red;"><%= sup_id %></span> (total <%= dico.length %>)</h3>
        
        <div class="container" style = "color : white;">
            <% for(var i = 0; i < dico.length; i++) { %>


                <div class = "col-xs-5">
                    <ul>
                        <li>Planet name : <%= dico[i].planet_name %></li>
                        <li>Planet area : <%= dico[i].area %> km²</li>
                        <li>Planet distance from earth : <%= dico[i].dist_from_earth %></li>
                    </ul>
                </div>
                <div class = "col-xs-offset-2 col-xs-5">
                    <img src="Jupiter.jpg" width=200" height="200" class = "img img-responsive" alt="">
                </div>
            <% } %>
        </div>
</body>
</html>