<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Résultats</title>
</head>
<body style="background-image: url('photo-1445905595283-21f8ae8a33d2.jpeg');">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="logo.png" width="100" height="60" class="d-inline-block align-top" alt="">
            <span style="color: rgb(114, 12, 155);"></span>
            <span style="color: rgb(114, 12, 155);">E-Planets</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item" style="margin-left: 30%;">
              <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" style="margin-left: 30%;">
              <a class="nav-link" href="/filter">Catégories <span class="sr-only"></span></a>
            </li>
            <li class="nav-item" style="margin-left: 30%;">
              <a class="nav-link" href="/add">Ajouter <span class="sr-only"></span></a>
            </li>
            <li class="nav-item" style="margin-left: 30%;">
              <a class="nav-link" href="/update">Modifier <span class="sr-only"></span></a>
            </li>
            <li class="nav-item" style="margin-left: 30%;">
              <a class="nav-link" href="/delete">Supprimer <span class="sr-only"></span></a>
            </li>
          <!--
            <li class="nav-item" style="margin-left: 30%;">
                <a class="nav-link" href="add">Ajouter <span class="sr-only"></span></a>
            </li>
            <li class="nav-item" style="margin-left: 30%;">
                <a class="nav-link" href="modify">Modifier <span class="sr-only"></span></a>
            </li>
            -->
          </ul>
        </div>
      </nav>      
        
        <div class="container row" style = "color : white;">
            <table>
                <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
            <% 
                if(dico.length != 0){
                    for(var i = 0; i < dico.length; i++) { %>
                        <tr>
                            <td>
                                <div class = "col-xs-5">
                                    <img src="<%= dico[i].path %>.jpg" width=500" height="500" class = "img img-responsive" alt="">
                                </div>
                            </td>
                            <td>
                                <div class = "col-xs-5">
                                    <ul style="color: white; list-style-type: none; font-size: 140%;">
                                        <li>
                                            <h1 style = "text-decoration: underline;">Déscription :</h1>
                                            <p>
                                                <%= dico[i].descr %>
                                            </p>
                                        </li>

                                        <hr>
                                        <ul>
                                            <li>Nom : <%= name %></li>
                                            <li>Nombre de satellites : <%= dico[i].number_of_moons %></li>
                                            <li>Diamètre : <%= dico[i].diameter %> km</li>
                                            <li>Densité : <%= dico[i].density %> km/m³</li>
                                            <li>Période de rotation : <%= dico[i].rotation_period %> heures</li>
                                            <li>Période orbitale : <%= dico[i].orbital_period %> jours</li>
                                        </ul>
                                    </ul>
                                
                                </div>
                            </td>
                        </tr>
                    <% } %>
            <% } %>
                </tbody>
            </table>
        </div>
</body>
</html>